.courseList {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 50px;
}

.course {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.course img {
    width: 25%;
    object-fit: cover;
    padding: 1%;
    border-radius: 20%;
}

.course .textIntro {
    align-self: center;
    padding-left: 30px;
    word-wrap: break-word;
}

@media screen and (max-width:750px) {
    .textIntro>small {
        display: none;
    }
    .course img {
        width: 100px;
    }
}