body {
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.parent {
    margin-top: 5%;
    align-self: center;
    width: 80%;
    border: solid;
    border-color: red;
    border: solid;
    display: flex;
    align-items: center;
    color: white;
    font-family: Indie Flower, cursive;
}

.child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 2%;
    align-self: center;
}

.childTitle {
    font-size: xx-large;
}

.childText {
    margin: 50px;
    color: white;
    word-wrap: break-word;
}

.child:hover {
    background-color: rgb(253, 4, 4, 0.7);
}