@media screen and (max-width: 540px) {
    .main-header {
        font-size: large;
    }
    .nav-menu {
        display: none;
    }
    .burger {
        display: flex;
        margin: 0 auto;
        
    }
}

.burger:hover .burger-bar1{
    -webkit-transform: translateY(7px) rotate(225deg);
    transition: 2s;
}
.burger:hover .burger-bar2{
    background: transparent;
    transition: 1s;
}

.burger:hover .burger-bar3{
    -webkit-transform: translateY(-7px) rotate(-225deg);
    transition: 2s;
}