body {
    margin: 0;
    padding: 0;
}

.header-container {
    font-family: Indie Flower, cursive;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: linear-gradient(-120Deg, #d62121, #c72c2c, #3a1111);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.main-header {
    align-self: center;
    color: white;
    padding: 1rem;
    font-size: 3.5rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.burger {
    display: none;
    flex-direction: column;
}

.burger-bar {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

.nav-menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.nav-link {
    padding: 25px;
    list-style-type: none;
}

a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 800px) {
    .main-header {
        font-size: x-large;
    }
    a {
        font-size: .75rem;
    }
}

@media screen and (min-width: 1440px) {
    .main-header {
        font-size: 4rem;
    }
    a {
        font-size: 2rem;
    }
}